body, html {
    height: 100%;
    margin: 0;
    font-family: 'Bangers', cursive;
}

#root {
    position: relative;
    margin: 0;
    height: 100%;
}

.child {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: tomato dashed 5px;

    display: flex;
    align-items: center;
    justify-content: center
}